 .bandeau {
     overflow: hidden;
     position: relative;
    //  height: 100%;
     padding: 24px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 24px 0;
    border-radius: 10px;
    overflow: hidden;
     @media screen and (max-width:640px) {
       margin-left: calc(var(--max-width) * -0.0835);
       margin-right: calc(var(--max-width) * -0.0835);
    //    padding: 10px;
     }
     picture {
         width: 100%;
         display: flex;
         position: absolute;
         height: 100%;

         img {
             height: 100%;
             width: 100%;
             object-fit: cover;
         }

     }

     .bandeau-container {
         background-color: var(--beige);
         position: relative;
         margin: 24px 0;

         border-radius: 10px;
         padding: 36px;

         @media screen and (max-width:640px) {

             gap: 0;
             max-width:100%;

         }


         display: flex;
         flex-flow: column;

         gap: 24px;

         @media screen and (max-width:810px) {
             grid-template-columns: 1fr;
         }

         &__left {
             h2 {
                 font-family: 'Recoleta';
                 font-style: normal;
                 font-weight: 400;
                font-size: 38px;
                line-height: 48px;
                white-space:break-spaces;
                word-break: break-word;
               
                 
             }

         }

         &__right {
             display: flex;
             align-items: flex-end;
             justify-content: flex-end;
        

             @media screen and (max-width:810px) {
                 justify-content: flex-start;
             }

             .bandeau-button {
                margin-top: 32px;
                 @include button;
                 width: auto;
                 text-decoration: none;
                 text-align: center;
                 display: flex;

             }

         }
     }
 }