#site-footer {
    background-color: var(--green-dark);
    max-width: 100%;
    position: relative;
    z-index: 94;
    padding: 0;

    .footer__bottom {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width:640px) {
                flex-flow: column;
                justify-content: flex-start;
                gap: 24px;
            }

            span,
            a {
                color: var(--white);
                font-family: "Recoleta";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;



            }
        }

        &--divider {
            max-width: var(--max-width);

            margin: 0 auto;
            width: 100%;
            height: 1px;
            background-color: #272D1E;
        }
    }

    .container {
        max-width: var(--max-width);
        width: 100%;

        padding: 40px 24px;
        margin: 0 auto;
        display: flex;
        flex-flow: row;
        align-items: flex-start;

        @media screen and (max-width:640px) {
            flex-flow: column;
        }

        gap: 82px;

        .site-navigation {
            display: grid;
            gap: 82px;
            grid-template-columns: repeat(5, 1fr);

            .footer-divider {
                grid-column: span 5;
                width: 100%;
                height: 1px;
                background-color: #272D1E;
            }

            @media screen and (max-width:1024px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media screen and (max-width:640px) {
                display: flex;
                flex-flow: column;
                gap: 24px;
                width: 100%;

                >div {
                    width: 100%;

                    li {

                        a,
                        span {
                            width: 100%;

                        }

                        width: 100%;

                    }
                }
            }

            align-items: flex-start;

            a,
            span {
                color: var(--white);
                padding: 0;

            }

            .menu-item-has-children {
                &:after {
                    display: none;
                }

                display: flex;
                flex-flow: column;
            }

            ul.menu {
                display: flex;
                flex-flow: column;

                li {
                    padding: 8px 0;
                    a{    
                                    padding-bottom: 8px;
                                        position: relative;
                                        &:after{
                                                @media screen and (min-width: 1024px) {
                                            content:'';
                                            width: 0;
                                            height: 1px ;
                                            background-color: var(--green);
                                            display: block;
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            @include transition;
                                                }
                                        }
                                    }
                                &:hover,&.current{
                                    a{
                                        position: relative;
                                        &:after{
                                              @media screen and (min-width: 1024px) {
                                            width: 100%;
                                              }
                                          
                                        }
                                    }
                                }

                    @media screen and (max-width:640px) {
                        padding: 0;
                        display: none;

                        &.open {
                            padding: 8px 0;
                            display: flex;
                        }
                    }

                    span,
                    a {
                        font-family: "NeueHaasDisplay-Roman";

                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;

                       
                    }

                    &:first-child {
                           svg {
                                display: none;

                                @media screen and (max-width:640px) {
                                  
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                        @media screen and (max-width:640px) {
                            display: flex;
                            padding: 8px 0;
                              &.open{
                                  svg{
                                            transform: rotate(180deg);

                                        }
                                    }
                        }

                        span,
                        a {
                            font-family: 'Recoleta';
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;

                            @media screen and (max-width:640px) {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }

                         
                        }
                    }
                }

                li ul {
                    display: flex;
                    flex-flow: column;
                    top: unset;
                    position: relative;
                    bottom: unset;
                    left: unset;
                    background-color: transparent;
                }
            }
        }
    }
}