#site-footer {
    background-color: var(--green-dark);
    max-width: 100%;
    position: relative;
    z-index: 94;
    padding: 0;


    .nlcontainer {
        @media screen and (max-width:640px) {
            width: 100%
        }

        ;

        .nltitle {
            margin-top: 24px;
            font-family: 'Recoleta';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: var(--white);
            &+p{
                     color: var(--white);
            }

        }

        div#probance_form_block {
            br {
                display: none;
            }

            form {
                margin: 0;
                width: 100%;
            }
        }

        .p-nlform-maintitle,
        .p-nlform-subtitle {
            display: none;
        }
span.probance_msg_wrong_email, span.probance_msg_empty_email{
    color:var(--red);
}
        label {
            margin-bottom: 12px;
            display: none;
        }

        .probance_message_submit {
            padding: 12px;
            position: relative;

            &.hidden {
                display: none;
            }

            margin-top: 12px;

            .message {
                text-align: left;
            }
        }

        input,
        textarea {
            @include button;
            text-transform: none;
            background-color: white;
            color: var(--black);
            border: 1px solid #364321;

            &:hover {
                background-color: white;
                color: var(--black);
                border: 1px solid #364321;
            }

        }

        input[type="submit"] {
            @include button;
        }
    }

    .footer__bottom {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width:640px) {
                flex-flow: column;
                justify-content: flex-start;
                gap: 24px;
            }

            span,
            a {
                color: var(--white);
                font-family: "Recoleta";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;



            }
        }

        &--divider {
            max-width: var(--max-width);

            margin: 0 auto;
            width: 100%;
            height: 1px;
            background-color: #272D1E;
        }
    }

    .container {
        max-width: var(--max-width);
        width: 100%;

        padding: 40px 24px;
        margin: 0 auto;
        display: flex;
        flex-flow: row;
        align-items: flex-start;

        @media screen and (max-width:640px) {
            flex-flow: column;
        }

        gap: 82px;

        .site-navigation {
            display: grid;
            gap: 36px;
            grid-template-columns: repeat(5, 1fr);

            .footer-divider {
                grid-column: span 5;
                width: 100%;
                height: 1px;
                background-color: #272D1E;
            }

            @media screen and (max-width:1024px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media screen and (max-width:640px) {
                display: flex;
                flex-flow: column;
                gap: 24px;
                width: 100%;

                >div {
                    width: 100%;

                    li {

                        a,
                        span {
                            width: 100%;

                        }

                        width: 100%;

                    }
                }
            }

            align-items: flex-start;

            a,
            span {

                opacity: 1;
                padding: 0;

            }

            .menu-item-has-children {
                &:after {
                    display: none;
                }

                display: flex;
                flex-flow: column;
            }

            .menu-partenaires-container {
                grid-column: span 2;
            }

            ul.menu {
                display: flex;
                flex-flow: column;

                li {
                    padding: 8px 0 0 0;

                    a {
                        padding-bottom: 8px;
                        position: relative;
                        color: #F5F3E6;
                        opacity: 0.8;

                        &:hover {
                            opacity: 1;
                        }

                        &.logo {
                            width: 50%;

                            @media screen and (max-width:640px) {
                                width: 100%;
                            }

                            picture {
                                display: flex;
                                align-items: flex-start;
                                justify-content: flex-start;
                                width: 100%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }

                            &:after {
                                display: none;
                            }
                        }

                        &:after {
                            @media screen and (min-width: 1024px) {
                                content: '';
                                width: 0;
                                height: 1px;
                                background-color: var(--green);
                                display: block;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                @include transition;
                            }
                        }
                    }

                    &:hover,
                    &.current {
                        a {
                            position: relative;

                            &:after {
                                @media screen and (min-width: 1024px) {
                                    width: 100%;
                                }

                            }
                        }
                    }

                    @media screen and (max-width:640px) {
                        padding: 0;
                        display: none;

                        &.open {
                            padding: 8px 0;
                            display: flex;
                        }
                    }

                    span,
                    a {
                        font-family: "NeueHaasDisplay-Roman";

                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;


                    }

                    &:first-child {
                        svg {
                            display: none;

                            @media screen and (max-width:640px) {

                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }

                        @media screen and (max-width:640px) {
                            display: flex;
                            padding: 8px 0;

                            &.open {
                                svg {
                                    transform: rotate(180deg);

                                }
                            }
                        }

                        span,
                        a {
                            font-family: 'Recoleta';
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            color: var(--white);
                            opacity: 1;


                            @media screen and (max-width:640px) {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }


                        }
                    }
                }

                li ul {
                    display: flex;
                    flex-flow: column;
                    top: unset;
                    position: relative;
                    bottom: unset;
                    left: unset;
                    background-color: transparent;
                }
            }
        }
    }
}