#site-footer {
    background-color: var(--green-dark);
    max-width: 100%;
    position: relative;
    z-index: 94;

    .container {
        max-width: var(--max-width);
        width: 100%;

        padding: 40px 24px;
        margin: 0 auto;
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        @media screen and (max-width:640px) {
                    flex-flow: column;
              }
        gap: 82px;

        .site-navigation {
            display: grid;
            gap: 82px;
            grid-template-columns: repeat(5, 1fr);
              @media screen and (max-width:1024px) {
                    grid-template-columns: repeat(3, 1fr);
              }
              @media screen and (max-width:640px) {
                    grid-template-columns: 1fr;
              }
            align-items: flex-start;

            a {
                color: var(--white)
            }

            .menu-item-has-children {
                &:after {
                    display: none;
                }

                display: flex;
                flex-flow: column;
            }

            ul.menu li ul {
                display: flex;
                flex-flow: column;
                top: unset;
                position: relative;
                bottom: unset;
                left: unset;
                background-color: transparent;
            }
        }
    }
}