
    @font-face {
        font-family: 'NeueHaasDisplay-Roman';
        src: url('fonts/NeueHaasDisplayRoman.woff');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Recoleta';
        src: url('fonts/Recoleta-Light.woff');
        font-weight: 300;
        font-display: swap;
    }
    @font-face {
        font-family: 'Recoleta';
        src: url('fonts/Recoleta-Regular.woff');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Recoleta';
        src: url('fonts/Recoleta-Bold.woff');
        font-weight: bold;
        font-display: swap;
    }
    @font-face {
        font-family: 'Recoleta';
        src: url('fonts/Recoleta-Medium.woff');
        font-weight: 500;
        font-display: swap;
    }
    @font-face {
        font-family: 'Recoleta';
        src: url('fonts/Recoleta-Black.woff');
        font-weight: 900;
        font-display: swap;
    }

@mixin transition{
    transition: all 0.2s ease-in-out;
}
@mixin button {

    font-family: 'NeueHaasDisplay-Roman, sans-serif';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    color: var(--beige);
    width: 100%;
    padding: 16px 24px;
    text-transform: uppercase;
    background-color: var(--green);
    border-radius: 10px;
    border: none;
    @include transition;
    &:hover{
        background-color: #607440;
    }
}
@mixin button-transparent {

    font-family: 'NeueHaasDisplay-Roman, sans-serif';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    color: var(--green);
    width: 100%;
    padding: 16px 24px;
    text-transform: uppercase;
    background-color:transparent;
    border:1px solid var(--green);
    border-radius:10px;
    @include transition;
    &:hover{
        background-color: var(--green);
        color: white;
    }
}

@mixin quantity {
    background-color: white;
    padding: 16px 24px;
    font-family: 'NeueHaasDisplay-Roman, sans-serif';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    color: var(--green);
    border-radius: 10px;
    border: none;
}

.single-product {
    --max-width: 1440px;

    @media screen and (max-width:1440px) {
        --max-width: 100%;
    }
}

@mixin container-min {
    max-width: calc(var(--max-width) * .55);
}

@mixin container {
    max-width: calc(var(--max-width) * .833);
}
.container{
      @include container;
    margin: 0 auto;
    &.container--min {
    @include container-min;
}
}

