.woocommerce-notices-wrapper,

.global-notices {
     position: fixed;
    top: 136px;
    right: 48px;

    @media screen and (max-width:640px) {
        right: 0;
        top: 74px;
        max-width: 100%;
    }

    z-index: 999;
    max-width: 460px;
    animation-name: notif,
    vanish;
    animation-duration: 800ms,
    800ms;
    animation-delay: 0ms,
    6000ms;
    /* add this */
    // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1), cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: 1,
    1;
    animation-fill-mode: forwards,
    forwards;

    @keyframes notif {
        from {
            opacity: 0;
            transform: translateX(100%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes vanish {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-500%);

        }
    }

    .woocommerce-error {
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        gap: 12px;
        border-top: none;

        @media screen and (max-width:640px) {
            border: none !important;
            border-radius: 0;
        }


        li {
            display: flex;
            flex-flow: row-reverse;
            align-items: center;
            gap: 12px;
            padding-left: 24px !important;
        }

        &:before {
            top: unset;
            color: var(--red);
        }

        .button {
            @include button;
            text-align: center;
            width: auto;
            padding: 12px 18px;
            font-size: 12px;

            &:hover {
                color: white;
            }
        }
    }
.notice,
    .woocommerce-message {
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        gap: 12px;
        background-color: var(--white);
        padding: 12px;
        border-radius: 10px;

        @media screen and (max-width:640px) {
            border: none !important;
            border-radius: 0;
        }

        &:before {
            top: unset;
        }

        .button {
            @include button;
            text-align: center;
            width: auto;
            padding: 12px 18px;
            font-size: 12px;
 color: white!important;
            &:hover {
                color: white;
            }
        }
    }
}