.popup {
    --posleft: calc(((100vw - var(--max-width))/2) + 24px);
    z-index: 999;
    position: fixed;
    left: var(--posleft);
    bottom: 10vh;
    display: grid;
    max-width: 568px;
    overflow: hidden;
    border-radius: 10px;
    opacity: 0;
    &.show{
    animation: slide 0.8s ease-in-out forwards;

    }
    &.hide{
        display: none;
    }
    @keyframes slide {
        from{
            opacity: 0;
            transform: translateX(-100%);
        }
        to{
            opacity: 1;
             transform: translateX(0);
        }
    }

    .close-popup {
        position: absolute;
        top: 18px;
        left: 18px;
               @media screen and (max-width:820px) {
                left: unset;
                right: 18px;
               }
        background-color: var(--white);
        padding: 8px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    grid-template-columns: 1fr 1fr;
       @media screen and (max-width:820px) {
    grid-template-columns: 1fr;
      max-width: calc(var(--max-width) - 48px);
       }
    background: linear-gradient(180deg, #364321 -16.07%, #EBE9E0 126.02%);

    picture {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        position: relative;
        padding: 24px;
        z-index: 1;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 12px;

        p {
            font-family: "NeueHaasDisplay-Roman";
            margin: 0;
            color: var(--white);

            &.title {
                font-family: 'Recoleta';
                font-size: 24px;
                font-style: normal;
                font-weight: 300;
                line-height: 32px;
            }
        }

        .button {
            margin-top: 12px;
            @include button-transparent;
            text-transform: none;
            border-color: var(--white);
            color: var(--white);
            align-items: center;
            text-align: center;
            font-family: 'Recoleta' ;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
        }
    }

    &.hide {
        display: none;
    }
}
.sensiness{
      

    #qlwapp.qlwapp-button {
  --posleft: calc(((100vw - var(--max-width))/2) + 12px);

    right: var(--posleft);
    .qlwapp-toggle{
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 20px;
        margin-right: 0;
         .qlwapp-icon{
        margin-right: 0;
    }
    }
    }
}