.single-product {
    scroll-behavior: smooth;

    .button {
        @include button;
    }

    .star-rating {

        * {
            color: var(--yellow)
        }
    }

    .woocommerce-breadcrumb {
        color: var(--green);

        * {}

        a {
            opacity: 1;
            color: var(--green);
        }
    }

    background-color: var(--beige);
    font-family: 'NeueHaasDisplay-Roman, sans-serif';
    color: var(--green);

    nav.woocommerce-pagination {
        .page-numbers {
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            li {
                border: 0;

                .page-numbers {
                    display: flex;
                    padding: 12px;
                    min-width: 42px;
                    border: 1px solid transparent;
                    border-radius: 4px;

                    &.current,
                    &:hover,
                    &:focus {
                        background-color: transparent;

                        border: 1px solid var(--green);
                        color: var(--green);
                    }

                }
            }
        }
    }


    #main {
        max-width: 100%;

        @media screen and (max-width:1024px) {
            padding-left: 0;
            padding-right: 0;
        }

        .product-wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: calc(var(--max-width)*0.07152);

            @media screen and (max-width:1024px) {
                flex-flow: column;
            }


            .product-gallery {
                width: calc(var(--max-width)*0.3666);

                @media screen and (max-width:1024px) {
                    width: 100%;
                }

                @media screen and (max-width:1440px) {
                    width: calc(var(--max-width)*0.3666);
                }

                @media screen and (max-width:1024px) {
                    width: 100%;
                    position: relative;
                    top: unset;

                }

                overflow: hidden;
                position: relative;
                display: grid;
                align-items: center;
                justify-content: flex-end;
                position: sticky;
                top: 0;

                // overflow: hidden;
            }


            .gallery-top {
                height: 100%;
                max-height: 100vh;
                width: 100%;
                position: relative;

                .swiper-wrapper {
                    width: calc(var(--max-width)*0.3472);
                }

                .swiper-slide {
                    height: 100vh;
                    width: calc(var(--max-width)*0.3472);

                    img,
                    video {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }


            }

            .gallery-thumbs {
                position: absolute;
                z-index: 99;
                right: 24px;
                display: flex;
                flex-flow: column;
                gap: 16px;

                @media screen and (max-width:810px) {
                    right: unset;
                    position: absolute;
                    align-self: end;
                    justify-self: center;
                    z-index: 1;
                    bottom: 10vh;
                    flex-flow: row;
                }

                .thumb {
                    max-height: 64px;
                    max-width: 64px;
                     @media screen and (max-width:810px) {
                          max-height: 48px;
                    max-width: 48px;
                     }
                    cursor: pointer;
                    border-radius: 10px;
                    margin: 0;
                    overflow: hidden;

                    &--active {
                        border: 1px solid var(--green);
                    }
                }
            }

            .referlink {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--yellow);
                border-radius: 100%;
                position: absolute;
                left: 120px;
                top: 169px;
                width: 112px;
                height: 112px;
                z-index: 1;
                   @media screen and (max-width:810px) {
                    left: 24px;
                   }

                .textpath {
                    position: absolute;
                    height: auto;
                    max-width: 90px;
                    transform-origin: center;
                    width: 100%;
                    animation: rotating 8s linear infinite;

                    @keyframes rotating {
                        from {
                            -ms-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -webkit-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                        }

                        to {
                            -ms-transform: rotate(360deg);
                            -moz-transform: rotate(360deg);
                            -webkit-transform: rotate(360deg);
                            -o-transform: rotate(360deg);
                            transform: rotate(360deg);
                        }
                    }

                    text {
                        font-family: 'Recoleta';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 11px;
                        line-height: 11px;
                        letter-spacing: 1px;
                    }

                    display: flex;
                    align-items: flex-end;
                    text-align: center;
                    text-transform: uppercase;
                }
            }

            .diagnostic-cta {
                position: absolute;
                align-self: end;
                justify-self: center;
                z-index: 1;
                bottom: 10vh;
                text-decoration: none;
                text-transform: uppercase;
                padding: 16px 24px;
                border-radius: 10px;
                border: 1px solid var(--green);
                font-family: 'NeueHaasDisplay-Roman, sans-serif';
                font-style: normal;
                font-weight: 450;
                font-size: 16px;
                line-height: 24px;
                background-color: rgba(255, 255, 255, 0.2);
                /* identical to box height, or 150% */

                text-transform: uppercase;

                @media screen and (max-width:810px) {
                    display: none;
                }

            }
        }

        .container {


            &.product-wrapper {
                max-width: 100%;
            }
        }

        .summary {
            margin-top: 130px;
            float: none;
            width: calc(var(--max-width)*0.4784);

            overflow: hidden;
            margin-right: calc(var(--max-width)*0.0833);

            @media screen and (max-width:1024px) {
                margin-top: 24px;
                margin-right: auto;
                margin-left: auto;
                width: calc(var(--max-width) - 48px);
            }

            h1 {
                font-family: 'Recoleta';
                font-style: normal;
                font-weight: 400;
                font-size: 56px;
                line-height: 64px;
                color: var(--green);
            }



            .woocommerce-review-link {
                text-decoration: underline;

            }

            .subtitle {
                font-family: 'Recoleta';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                color: var(--green);
            }
        }
    }

    .h2 {


        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 112px;
        margin-top: 64px;

    }


    .variations_form {
        .woocommerce-variation-availability {
            display: none;
        }
     
        &.sticky {
            position: fixed;
            bottom: 48px;
            z-index: 98;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: translatetop 0.2s ease-in-out forwards;
                @media screen and (max-width:640px) {
                     bottom:24px;
                }
            @keyframes translatetop {
                from {
                    opacity: 0;
                    transform: translateY(100%);
                }

                to {
                    opacity: 1;
                    transform: translateY(0)
                }
            }

            >div {
                background-color: var(--beige);
                padding: 24px;
                border-radius: 10px;
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: space-between;
                gap: 12px;
                @include container;
                width: 100%;

                @media screen and (max-width:810px) {
                    max-width: calc(var(--max-width) - 48px);
                }
                @media screen and (max-width:640px) {
                    flex-flow: column;
                }

                .variations {
                    margin-bottom: 0 !important;
                }

                .ts-wrapper {
                    display: block !important;

                }

                .ts-dropdown {
                    top: unset;
                    bottom: 100%;
                }

                .variation-wrapper {
                    display: none;
                }

                // margin: 0 calc(var(--max-width)*0.0833);
            }


        }

        select.attribute-select {
            padding: 1.2rem;
            display: flex;
            justify-content: space-between;

            option {
                padding: 1.2rem;
                display: flex;
                justify-content: space-between;
            }
        }

        .variation-wrapper {
            list-style: none;
            border: none;
            border-radius: unset;

            .variation-item {
                cursor: pointer;
                display: grid;
                grid-template-columns: auto 3.5fr auto;
                border-top: 1px solid #EBE9E0;
                padding: 16px 0;
                align-items: baseline;

                &:first-of-type {
                    border-top: 1px solid transparent;
                }

                &.selected {
                    .checkbox:after {

                        opacity: 1;

                    }
                }

                .checkbox {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 18px;
                    width: 18px;
                    border-radius: 18px;
                    border: 1px solid var(--green);
                    margin-right: 24px;

                    &:after {
                        content: '';
                        height: 8px;
                        width: 8px;
                        opacity: 0;
                        border-radius: 8px;
                        background-color: var(--green);
                    }
                }

                &__title {
                    p {
                        margin-bottom: 0;
                    }

                    font-family: 'Recoleta';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;

                    .description {
                        font-family: 'NeueHaasDisplay-Roman, sans-serif';
                        font-style: normal;
                        font-weight: 450;
                        font-size: 12px;
                        line-height: 24px;
                        color: var(--red);
                    }
                }

                &__prices {
                    text-align: right;
                    font-family: 'Recoleta';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;

                    span {
                        display: inline-block;
                        font-family: 'NeueHaasDisplay-Roman, sans-serif';
                        font-style: normal;
                        font-weight: 450;
                        font-size: 16px;
                        line-height: 24px;

                        &.display_regular_price {
                            margin-right: 12px;

                            bdi {
                                text-decoration: line-through;
                                color: var(--red);
                            }
                        }
                    }

                    .percent {
                        display: block;
                    }
                }
            }
        }

        .woocommerce-variation-add-to-cart {
            display: flex;
            align-items: center;
            gap: 12px;
            flex-flow: row;

            .quantity {
                input {
                    @include quantity;
                    width: auto;
                }
            }

            .button {
                @include button;
            }
        }
    }

}

.custom-price {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__left {
        p {
            display: none;
            background-color: white;
            align-items: center;
            gap: 6px;
            padding: 8px 16px;
            border-radius: 10px;
        }

    }

    &__right {
        display: flex;
        flex-flow: column-reverse;
        text-align: right;

        .mc_variable-from {
            order: 1;

            +.amount bdi {
                font-family: 'Recoleta';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 40px;
                color: var(--green);
            }

        }

        .price {
            display: flex;
            flex-flow: row;
            gap: 12px;
            align-items: center;
            justify-content: flex-end;
            text-decoration: none;

            .amount,
            ins {
                text-decoration: none;
            }

            del {
                opacity: 1 !important;

                bdi {
                    text-decoration: line-through;
                    font-family: 'NeueHaasDisplay-Roman, sans-serif';
                    font-style: normal;
                    font-weight: 450;
                    font-size: 16px;
                    color: var(--red);

                    line-height: 24px;
                }
            }

            bdi {
                font-family: 'Recoleta';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 40px;
                color: var(--green);

            }
        }
    }
}

.variations {
    .ts-wrapper {
        display: none;

        &.sticky {
            display: block;
        }
    }

    .ts-control {
        padding: 16px 24px;
        background: #FFFFFF;
        border-radius: 10px;
        border: none;

        .item {
            padding-right: 24px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p,
            span {
                font-family: 'Recoleta';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 0;
                color: var(--green);
            }

            span {
                font-size: 16px;
            }

        }
    }

    .select-prices {
        display: flex;
        gap: 12px;
        flex-flow: row;
        align-items: center;

        svg {
            transform: rotate(180deg);
        }

        .promo {
            text-decoration: line-through;
            color: var(--red);
        }
    }

    .ts-dropdown {
        .option {
            padding: 16px 24px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p,
            span {
                font-family: 'Recoleta';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 0;
                color: var(--green);
            }

            span {
                font-size: 16px;
            }
        }
    }
}

/**
* Réassurance slider
*
*/

.reassurance-slider {
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-wrapper {
        max-height: 100px;
        // overflow: hidden;
    }

    .swiper-pagination {
        position: relative;
        gap: 6px;

        .swiper-pagination-bullet {
            width: 6px;
            height: 6px;
            background-color: #EBE9E0;

        }

        .swiper-pagination-bullet-active {
            background-color: var(--green);
        }
    }

    .swiper-wrapper {
        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            width: 100%;

            header {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;

                p {
                    font-family: 'Recoleta';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 0;
                }
            }

            &--subtitle {
                font-family: 'NeueHaasDisplay-Roman, sans-serif';
                font-style: normal;
                font-weight: 450;
                font-size: 16px;
                line-height: 24px;
            }
        }

    }
}

/**
* description
*
*/
html {
    scroll-behavior: smooth;
}

.single-product {


    .summary-heading {
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: var(--green);
    }

    .product-description {
        margin-top: 52px;
        display: grid;
        grid-template-columns: auto auto;

        @media screen and (max-width:1024px) {
            grid-template-columns: auto;
            gap: 24px;
        }

        gap: 80px;

        &__left {}

        &__right {

            h2,
            h3 {
                font-family: 'Recoleta';
                font-style: normal;
                font-weight: 400;
                font-size: 21px;
                line-height: 26px;
                color: var(--green);
                margin-top: 32px;
            }

            ul {
                padding-left: 0;

                li {
                    list-style-type: none;
                    display: flex;
                    font-family: 'Recoleta';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    margin: 24px 0;
                    color: var(--green);

                    &:before {
                        content: '+';
                        font-size: 18px;
                        display: inline-block;
                        margin-right: 12px;

                    }



                }
            }

        }
    }
}

/**
* accordeon
*
*/
.accordeon {
    margin-top: 32px;
    border-top: 1px solid #EBE9E0;
    padding-top: 32px;
    // border-bottom: 1px solid #EBE9E0;
    padding-bottom: 32px;
    margin-bottom: 32px;
}

/**
* bandeau reassurance
*
*/
.bandeau-reassurance {
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    gap: 68px;
    padding: 28px 0;

    @media screen and (max-width:810px) {
        flex-flow: column;
      padding: 48px ;    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row;
        gap: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        @media screen and (max-width:810px) {
            text-align: center;
            flex-flow: column;
        }

        p {
            margin-bottom: 0;
        }

        a {
            text-decoration: underline;

        }
    }
}

/**
* description longue
*
*/
.long_description {
    background-color: white;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 96px 0;
        max-width: 100%;
        gap: calc(var(--max-width)*0.0166);
           @media screen and (max-width:640px) {
            gap:24px;
            flex-flow: column;
           }
         
    }

    &__left {
        // padding-left: calc(var(--max-width)*0.0833);
        width: calc(var(--max-width)*0.3375);
          @media screen and (max-width:640px) {
      width: calc(var(--max-width) - 48px);
        margin: 0 auto;
           }

        .h2 {
            margin-top: 0;
                @media screen and (max-width:640px) {
                    margin-bottom: 24px;
                }

            // max-width: calc(var(--max-width)*0.3375);
        }
    }

    &__right {
        width: calc(var(--max-width)*0.4791);
          @media screen and (max-width:640px) {
      width: calc(var(--max-width) - 48px);
        margin: 0 auto;
           }
    }
}

/**
* ingredients
*
*/
.ingredients {
    display: grid;
    grid-template-columns: calc(var(--max-width)*0.3291) calc(var(--max-width)*0.5);
    justify-content: flex-end;
    grid-auto-rows: 1fr;
    gap: calc(var(--max-width)*0.0875);
    max-width: var(--max-width);
    margin: 0 auto;
    @media screen and (max-width:640px) {
        grid-template-columns:1fr;
        gap:0;
    }
    &__left {
           @media screen and (max-width:640px) {
        width: calc(var(--max-width) - 48px);
        margin: 0 auto;
        .h2{
            margin-bottom: 24px;
        }
    }
        // padding-left: calc(var(--max-width)* 0.083);


        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 42px;

        &__item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 24px;
            margin-bottom: 24px;

            picture {
                width: 40px;
                height: 40px;
                display: block;
                overflow: hidden;
                border-radius: 40px;

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }

            p {
                margin-bottom: 0;
                font-family: 'Recoleta';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
            }

            span {

                font-family: 'Recoleta';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    &__right {
        height: 100%;

        //   width: calc(var(--max-width)*0.5);
        picture {
            width: 100%;
 @media screen and (max-width:640px) {
    aspect-ratio: 4/3;
 }
            aspect-ratio: 708/410;
            height: 100%;
            // min-height: calc(var(--max-width)*0.32638);
            display: block;

            img {
                object-fit: cover;
                height: 100%;
                max-height: 100%;
                width: 100%;
            }
        }
    }
}

/**
* Marquee
*
*/
.bandeau-marquee {
    background-color: var(--yellow);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px 0;

    overflow: hidden;
    position: relative;

    &__item {
        display: flex;
        width: 200%;


        position: absolute;
        overflow: hidden;
        gap: 24px;
        
        animation: marquee 15s linear infinite;
    }

    span.marquee {
        float: left;
        display: flex;
        align-items: center;
        gap: 24px;
        width: 25%;
           @media screen and (max-width:640px) {
                gap: 12px;
                      width: 50%;
            }

        span {
            white-space: nowrap;
        }
    }

    @keyframes marquee {
        0% {
            left: 0;
        }

        100% {
            left: -100%;
        }
    }
}

/**
* Video
*
*/
.video-container {
    max-width: var(--max-width);
    margin: 0 auto;
    line-height: 0;

    video {
        aspect-ratio: 16/9;

        @media screen and (max-width:810px) {
            aspect-ratio: 4/3;

        }

        width: 100%;
        object-fit: cover;
    }
}



/**
* satisfaction
*
*/
.satisfaction {

    .satisfaction-container {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
            @media screen and (max-width:640px) {
     display: flex;
     flex-flow: row wrap;
justify-content: center;
            }
        &+p {
            font-family: 'NeueHaasDisplay-Roman, sans-serif';
            color: var(--green);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            text-align: center;

        }
    }

    &__item {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
            @media screen and (max-width:640px) {
                width: 50%;
            }
        &--title {
            font-family: 'Recoleta';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: var(--green);
            margin-top: 12px;
        }
    }

    .circle-wrap {

        width: 64px;
        height: 64px;
        background: #EBE9E0;
        border-radius: 50%;

    }

    .circle {
        width: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 64px;
    }

    .circle-wrap .circle .mask,
    .circle-wrap .circle .fill {
        width: 64px;
        height: 64px;
        position: absolute;
        border-radius: 50%;
    }

    .circle-wrap .circle .mask {
        clip: rect(0px, 64px, 64px, 32px);
    }

    .circle-wrap .circle .mask .fill {
        clip: rect(0px, 32px, 64px, 0px);
        background-color: var(--yellow);
    }

    .circle-wrap .circle .mask.full,
    .circle-wrap .circle .fill {
        // animation: fill ease-in-out 3s forwards;
        transform: rotate(180deg);
    }



    .circle-wrap .inside-circle {
        width: 56px;
        height: 56px;

        border-radius: 50%;
        background: var(--beige);

        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        // z-index: 100;
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: var(--green);
        // font-weight: 700;
        // font-size: 2em;
    }
}

/**
* related
*
*/
.single-product {
    .related.products {
        padding: 96px 0;

        header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 48px;
                @media screen and (max-width:640px) {
                        grid-template-columns: 1fr ;
                }

            h2 {
                font-family: 'Recoleta';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 56px;
                margin-bottom: 0;
                  @media screen and (max-width:640px) {
                    text-align: center;
                  }
            }

            div {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                  @media screen and (max-width:640px) {
                    margin-top: 24px;
      justify-content: center;                }
            }

            .shop-cta {
                @include button;
                display: flex;
                align-items: center;
                width: auto;
                line-height: 100%;
            }
        }

        ul {
            li.product {
                display: flex;
                flex-flow: column;
                align-items: center;
  @media screen and (max-width:640px) {
                       float: none;
                       width: 100%;
                }
                .onsale {
                    display: none;
                }

                a img {
                    border-radius: 10px;
                }

                .woocommerce-loop-product__title {
                    font-family: 'Recoleta';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 32px;
                    text-align: center;
                }

                .price {
                    font-style: normal;
                    font-weight: 450;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: var(--green);

                }

                .button {
                    @include button-transparent;
                    margin-left: auto;
                    margin-right: auto;
                    align-items: center;
                    width: auto;

                }
            }
        }
    }
}

/**
* photos
*
*/
.single-product {
    .photos {
        .container {
            display: grid;
            grid-template-columns: calc(var(--max-width)*0.5) calc(var(--max-width)*0.5);
            max-width: var(--max-width);
  @media screen and (max-width:640px) {
    grid-template-columns: 1fr;
  }
            picture {
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                            max-width: var(--max-width);
  @media screen and (max-width:640px) {
                   aspect-ratio: 4/3;

  }
                display: block;

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

/**
* diagnostic
*
*/
.single-product {
    .diagnostic {
        overflow: hidden;
        position: relative;
        height: 100%;

        picture {
            width: 100%;
            display: flex;
            position: absolute;
            height: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        }

        .diagnostic-container {
            background-color: var(--beige);
            position: relative;
            margin-top: 56px;
            padding: 56px;
            border-radius: 10px;
  @media screen and (max-width:640px) {
    padding: 24px;
    gap:0;
  }
            margin-bottom: 96px;
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: flex-end;
            gap: 10%;
                            @media screen and (max-width:810px) {
                                  grid-template-columns: 1fr;
                            }

            &__left {
                h2 {
                    font-family: 'Recoleta';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 56px;
                    margin-bottom: 32px;
                }

            }

            &__right {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
   @media screen and (max-width:810px) {
                               justify-content: flex-start;
                            }
                .diagnostic-button {
                    @include button;
                    width: auto;
                    text-align: center;
                }

            }
        }
    }
}

/**
Calculator
**/
.single-product {
    .calculateur {
        .calculateur-container {
            display: grid;
            grid-template-columns: calc(var(--max-width) * 0.42083) calc(var(--max-width)*0.4083);
            justify-content: flex-start;
            align-items: center;
            max-width: var(--max-width);
            margin: 0 auto;
            gap: calc(var(--max-width)*0.07916);
                       @media screen and (max-width:640px) {
                        grid-template-columns: 1fr;
                        gap:0;
                       }
                   

            &__left {
                height: 100%;
                width: 100%;

                picture {
                    height: 100%;
                    width: 100%;
                    display: flex;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            &__right {
                width: 100%;
                padding: 64px 0;
    @media screen and (max-width:640px) {
                width: calc(var(--max-width) - 48px);
                margin: 0 auto;
                       }
                overflow: hidden;

                form input[type="range"] {
                    background: linear-gradient(to right, var(--yellow) 0%, var(--yellow) 46.66%, rgb(255, 255, 255) 46.66%, rgb(255, 255, 255) 100%);
                    width: 100%;

                    div {
                        background-color: var(--yellow);
                    }
                }

                select {
                    background-color: white;
                    border: none;
                    border-radius: 10px;
                }

                input[type="range"]::-webkit-slider-thumb,
                input[type="range"]::-moz-range-thumb {
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    background: var(--yellow);
                    border: none;
                    cursor: pointer;
                    transition: background 0.15s ease-in-out;
                }

                /*On hover change colour of black thumb into green 🟢 and scale size*/
                input[type="range"]::-webkit-slider-thumb:hover {
                    transform: scale(1.1);
                    background: var(--yellow);
                }

                input[type="range"]:active::-webkit-slider-thumb {
                    transform: scale(1.1);
                    background: var(--yellow);
                }

                .human_weight_selector {
                    position: relative;
                }

                .range_value {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: var(--beige);
                    color: var(--green);
                    padding: 0;
                    text-align: right;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;

                    &:after {
                        display: none;
                    }
                }

                label {
                    font-style: normal;
                    font-weight: 450;
                    font-size: 16px;
                    color: var(--green);
                    margin-bottom: 24px;
                    margin-top: 24px;
                    line-height: 24px;
                }

                .cbd-calculator__title {
                    font-family: 'Recoleta';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 56px;

                }

                .cbd-calculator__posologie {
                    h3 {
                        font-style: normal;
                        font-family: "NeueHaasDisplay-Roman, sans-serif";
                        font-weight: 450;
                        font-size: 18px;
                        line-height: 24px;
                    }

                    p {
                        display: flex;
                        justify-content: space-between;

                        .posologie {
                            font-family: 'Recoleta';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }

                }

                // margin-right: calc(var(--max-width)*0.09166);
            }
        }
    }

    .cbd-calculator__results {
        display: none;
    }
}

/**
FAQ
**/
.single-product {
    .faq {
        padding: 96px 0;

        header {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            margin-bottom: 24px;
            @media screen and (max-width:640px) {
                max-width: calc(var(--max-width) - 48px);
                margin: 0 auto;
                  margin-bottom: 24px;
            }
            h2 {
                font-family: 'Recoleta';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 56px;
                /* identical to box height, or 117% */

                text-align: center;
                margin-bottom: 24px;
                margin-top: 24px;
            }

            p {
                margin-bottom: 24px;
                text-align: center
            }

            .faq-button {
                @include button;
                margin-left: auto;
                margin-right: auto;
                align-items: center;
                width: auto;
            }
        }
    }
}