.single-post {
    background-color: white;
font-family: "NeueHaasDisplay-Roman";
    .woocommerce-breadcrumb {
        color: var(--black);

    }

    a {
        color: #f8b82e;
        @include transition;
    }
    h4,h5,h6{
              font-family: "Recoleta";
        font-style: normal;
        font-weight: 300; 
           color: var(--black);
    }
    h2 {

        font-family: "Recoleta";
        font-style: normal;
        font-weight: 300;
        font-size: 38px;
        line-height: 48px;
        color: var(--black);
        margin: 24px 0;

        @media screen and (max-width:640px) {
            font-size: 28px;
            line-height: 38px;
        }

        strong,
        b {
            font-weight: 300;
        }
    }

    h3 {
        font-family: "Recoleta";
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 48px;
        color: var(--black);

        @media screen and (max-width:640px) {
            font-size: 22px;
            line-height: 32px;
        }

        strong,
        b {
            font-weight: 300;
        }
    }

    ul {
        margin-left: 0;
        padding-left: 18px;

        li {
            margin-bottom: 12px;
        }
    }

    .single-header {
        background-color: var(--beige);
        padding-top: 120px;

        .container {
            display: grid;
            grid-template-columns: 2fr auto;
            align-items: flex-start;
            gap: 48px;

            @media screen and (max-width:1200px) {
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (max-width:1024px) {
                grid-template-columns: 1fr;
            }
        }

        &__left {

            margin-bottom: 24px;

            @media screen and (max-width:640px) {
                margin-bottom: 0;
            }
        }

        &__right {
            align-self: flex-end;

        }

        picture {
            line-height: 0;
            overflow: hidden;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
b,strong{
        color: var(--black);
}
        h1 {
            margin-top: 24px;
            font-family: "Recoleta";
            font-style: normal;
            font-weight: 300;
            font-size: 56px;
            line-height: 64px;
            color: var(--black);

            @media screen and (max-width:640px) {
                font-size: 32px;
                line-height: 48px;
            }
        }

        &__metas {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 12px;
            color: var(--black);

            @media screen and (max-width:640px) {
                flex-flow: column;
                align-items: start;

            }

            .separator {
                display: block;
                height: 8px;
                width: 8px;
                border-radius: 8px;
                border: 1px solid var(--black);
                background-color: white;
                margin-top: 4px;

                @media screen and (max-width:640px) {
                    display: none;
                }
            }

            a {
                color: var(--black);

                &:hover {

                    color: #f8b82e;
                }
            }
        }
    }

    .article-container {
        display: grid;
        grid-template-columns: auto 55% 20%;
        grid-template-areas:
            "aside main sticky";

        @media screen and (max-width:1024px) {
            grid-template-columns: 1fr;
            grid-template-areas: none;
        }

        grid-template-rows: 1fr;
        ;
        align-items: start;
        gap: 48px;
        margin-top: 72px;
        position: relative;

        main {
            grid-area: main;
            padding-left: 0;
            padding-right: 0;
            word-break: break-word;

            @media screen and (max-width:1024px) {
                grid-area: unset;
                width: 100%;
                max-width: 100%;
            }

            margin-bottom: 48px;

            .wp-block-image {
                overflow: hidden;
                border-radius: 10px;
            }

            .wc-block-grid__products {
                display: grid;
                background-color: var(--beige-light);
                border-radius: 10px;
                grid-template-columns: repeat(2, 1fr);

                @media screen and (max-width:1024px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media screen and (max-width:640px) {
                    grid-template-columns: 1fr;
                }

                gap: 24px;
                padding: 24px;
                margin: 24px 0;

                .wc-block-grid__product {
                    width: 100%;
                    max-width: 100%;
                    border: none;

                    &:hover {
                        background-color: transparent;
                    }

                    .star-rating {
                        color: var(--yellow)
                    }


                    padding: 0;

                    >a {
                        text-decoration: none;
                        width: 100%;
                    }

                    .wc-block-grid__product-title {

                        font-family: "Recoleta";
                        font-style: normal;
                        font-weight: 300;
                        font-size: 24px;
                        line-height: 32px;
                        color: var(--black);
                        text-align: center;

                    }

                    .wc-block-grid__product-price {
                        font-family: "NeueHaasDisplay-Roman";
                    }

                    .wp-block-button__link {
                        @include button-transparent;
                        background-color: white;
                        text-decoration: none;
                        padding: 16px 18px;
                        font-size: 14px;
                    }
                }
            }




            p,
            li {
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                font-family: "NeueHaasDisplay-Roman";
                color: var(--black);
            }
        }

        aside {
            grid-area: aside;
            // width: 25%;
            justify-self: flex-start;
            position: sticky;
            top: 128px;
            margin-bottom: 48px;
            max-height: calc(100vh - 128px);
            padding-right: 24px;
            overflow: auto;


            @media screen and (max-width:1024px) {
                display: none;
                grid-area: unset;
                width: 100%;
                position: relative;
                top: unset;
                min-height: unset;
                overflow: hidden;
            }

            .title {

                font-family: "Recoleta";
                font-style: normal;
                font-weight: 300;
                font-size: 28px;
                line-height: 38px;
                color: var(--black);
                margin-top: 0;
            }

            .summary {
                margin-left: 0;
                list-style: none;
                padding-left: 0;
                margin-bottom: 48px;

                li {
                    display: flex;
                    border-bottom: 1px solid #EBE9E0;
                    align-items: flex-start;

                    &.h3 {
                        padding-left: 24px;
                    }

                    &:before {
                        padding-top: 10px;
                        content: '+';
                        font-size: 18px;
                        display: inline-block;
                        margin-right: 12px;

                    }

                    &:hover {

                        a {
                            color: #f8b82e;
                        }
                    }

                    a {
                        width: 100%;
                        padding: 12px 0;
                        color: var(--black);
                        font-size: 15px;
                        font-family: "NeueHaasDisplay-Roman";


                    }
                }
            }
        }

        .sticky-nl {
            grid-area: sticky;
            justify-self: flex-start;
            position: sticky;


            top: 128px;
            margin-bottom: 48px;
            width: 100%;

            @media screen and (max-width:1024px) {
                grid-area: unset;
                width: 100%;
                top: unset;
                position: relative;
            }

            .sharing {
                margin-top: 24px;

                .social-buttons {
                    margin-bottom: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 12px;
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid var(--black);
                    border-radius: 4px;
                    padding: 12px;
                    height: 48px;
                    width: 48px;
                    background-color: var(--beige-light);

                    svg {
                        * {

                            @include transition;
                        }
                    }

                    &:hover {
                        background-color: var(--beige);

                        svg {
                            * {
                                fill: #f8b82e;
                            }
                        }
                    }

                }
            }

            .title {

                font-family: "Recoleta";
                font-style: normal;
                font-weight: 300;
                font-size: 28px;
                line-height: 38px;
                color: var(--black);
                margin-top: 0;
            }
            .subtitle{
                                color: var(--black);

            }

            div#probance_form_block {
br{
    display: none;
}
                form {
                    margin: 0;
                    width: 100%;
                }
            }

            .p-nlform-maintitle,
            .p-nlform-subtitle {
                display: none;
            }

            label {
                margin-bottom: 12px;
                display: none;
            }

            .probance_message_submit {
                padding: 12px;
                position: relative;

                &.hidden {
                    display: none;
                }

                margin-top: 12px;

                .message {
                    text-align: left;
                }
            }

            input,
            textarea {
                @include button;
                text-transform: none;
                background-color: white;
                color: var(--black);
                border: 1px solid #364321;

                &:hover {
                    background-color: white;
                    color: var(--black);
                    border: 1px solid #364321;
                }

            }

            input[type="submit"] {
                @include button;
            }
        }
    }

    .single-comments {
        background-color: white;
        margin: 48px 0;
        padding: 48px 0;
        color: var(--black);

        @media screen and (max-width:1024px) {}

        @media screen and (max-width:640px) {
            .container {
                max-width: 100%;
                @include container;
            }
        }

        #respond {
            order: 4;
        }

        #comments {
            display: flex;
            flex-flow: column;

            .comment-navigation {

                display: flex;

                .nav-links {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                &:first-of-type {
                    display: none;
                }

                a {
                    @include button-transparent;
                    display: flex;
                    text-decoration: none;
                    margin: 24px 0;
                }

                order: 3;

            }

            .title-comments {
                text-align: center;
                order: 1;
            }

            .comment-reply-login {
                font-size: 16px;
                // @include button-transparent;
            }

            .comment-list {
                order: 2;

                li {
                    width: 100%;
                    border-bottom: 1px solid #EBE9E0;

                    .children {
                        border-top: 1px solid #EBE9E0;
                        padding-left: 0;
                        display: flex;
                        align-items: flex-start;
                        gap: 12px;
                        flex-flow: column;

                        li {
                            padding-left: 32px;
                        }

                        &::before {
                            width: 18px;
                            transform: rotate(-90deg);
                            height: 18px;
                            content: '';
                            position: absolute;
                            top: 24px;
                            background-size: contain;
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_410_7484' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_410_7484)'%3E%3Cpath d='M12.0005 14.6538L7.59668 10.25H16.4043L12.0005 14.6538Z' fill='%23364321'/%3E%3C/g%3E%3C/svg%3E%0A");
                            // background-color: var;
                        }
                    }

                    article.comment-body {
                        border-bottom: none;
                        width: 100%;
                        padding: 24px 0;
                        font-family: "NeueHaasDisplay-Roman";
                        font-size: 16px;

                        .comment-metadata {
                            a {
                                text-decoration: none;
                            }
                        }

                        time {
                            color: var(--black);
                            font-size: 16px;
                        }

                        .comment-author {
                            font-family: 'Recoleta';
                            font-size: 20px;
                            color: var(--black);
                            text-decoration: none;

                            .avatar {
                                display: none;
                            }

                            b {
                                font-weight: 500;
                            }

                            a {
                                color: var(--black);
                                text-decoration: none;
                            }
                        }

                        padding-left: 0;

                        .comment-content {
                            color: var(--black);
                        }
                    }
                }
            }
        }

        #reply-title {
            font-family: "Recoleta";
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 56px;
            color: var(--black);
            display: flex;
            flex-flow: row wrap;

            align-items: center;
            justify-content: space-between;

            a,
            small {
                font-size: 16px;
                line-height: 18px;
                font-family: "NeueHaasDisplay-Roman";
            }

            strong,
            b {
                font-weight: 300;
            }
        }

        #commentform {

            label {
                margin-bottom: 12px;
            }

            textarea {
                font-family: "NeueHaasDisplay-Roman";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: var(--beige);
                width: 100%;
                padding: 16px 24px;
                text-transform: uppercase;
                background-color: var(--black);
                border-radius: 10px;
                border: none;
                transition: all 0.2s ease-in-out;
                text-transform: none;
                background-color: white;
                color: var(--black);
                border: 1px solid #364321;
            }

            .submit {
                @include button;
            }
        }
    }
}

.related-posts {
    background-color: var(--beige-light);
    padding: 48px 0;

    .related-posts-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 48px;
        grid-auto-rows: 1fr;

        @media screen and (max-width:1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width:640px) {
            grid-template-columns: 1fr;
        }

        .post-preview {
            position: relative;
            background-color: white;
            border-radius: 10px;
            overflow: hidden;

            &:hover {
                .post-preview__content .title {

                    color: #f8b82e;
                }
            }

            &__thumbnail {
                line-height: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__content {

                padding: 24px;
                display: grid;
                grid-template-rows: auto auto auto;
                gap: 12px;

                >* {
                    margin: 0;
                }

                .title {
                    @include transition;
                    font-family: "Recoleta";
                    font-style: normal;
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 32px;
                    color: var(--black);

                }

                time {
                    color: var(--black)
                }

                .excerpt {
                    color: var(--black)
                }

                &__link {
                    @include button;
                    display: inline-flex;
                    width: auto;
                    justify-self: flex-end;
                    margin-top: 12px;
                }
            }


        }
    }
}